.search-bar {
  background-color: #e0ecff;
  -webkit-box-shadow: 2px 2px 13px 0px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 2px 2px 13px 0px rgba(0, 0, 0, 0.63);
  box-shadow: 2px 2px 13px 0px rgba(0, 0, 0, 0.63);
  border-radius: 18px;
  padding: 1rem;
  margin-right: 2rem;
  /* min-width: 27rem;
  position: fixed; */
}
